.auth__link {
  background: var(--color-green);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  svg {
    path {
      fill: var(--color-white);
    }
  }
}

@media (min-width: 991px) {
  .auth__link {
    &:hover {
      background: var(--color-white);

      svg {
        path {
          fill: var(--color-green);
        }
      }
    }
  }
}
