.change__language {
  position: relative;
  top: -1px;
  margin-left: 10px;
}

.label__lang {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

:where(.css-dev-only-do-not-override-10ed4xt).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  padding: 0 3px;
  height: 26.33px;
  position: relative;
  top: 1px;
  background-color: transparent;
  border: none;
}

:where(
    .css-dev-only-do-not-override-10ed4xt
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-10ed4xt
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  display: flex;
  padding-inline-end: 3px;
}

:where(.css-dev-only-do-not-override-10ed4xt).ant-select
  .ant-select-arrow
  .anticon {
  display: none;
}

:where(.css-dev-only-do-not-override-10ed4xt).ant-select-dropdown
  .ant-select-item {
  padding: 0;
}
