.toures-category__filter {
  label {
    margin-right: 10px;
    cursor: pointer;
    span {
      border: 2px solid gray;
      border-radius: 16px;
      padding: 8px 16px;
    }
    input {
   
    }
  }
}
